.dashboard-people {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  padding: 2rem 0;
  user-select: none;
  white-space: nowrap;
  margin-bottom: 2rem;
  overflow-x: auto;

  background-color: #00000026;
  height: 50%;

  &::-webkit-scrollbar {
    height: 0.7rem;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.418);
  }
}

.card-container {
  display: flex;
}

.add-person {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #44444487;
  border-radius: 10px;
  height: 100%;
  width: 100%;
  color: $white-color;
  cursor: pointer;
  transition: all 0.4s ease;
  &:hover {
    background-color: $dark-color;
  }
  padding: 2rem;
}

.add-icon {
  height: 3.5rem !important;
  width: 3.5rem !important;
  margin-bottom: 0.5rem;
}

.card-wrapper {
  min-width: 250px;
  margin-right: 0.8rem;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
}

.people-card {
  background-color: $white-color;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  position: relative;
  white-space: normal;
  align-items: center;
}

.card-header {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0.7rem 2rem;
  border-bottom: 1px solid #ececec;
  h3 {
    margin: 0;
    text-transform: capitalize;
  }
}

.card-footer {
  padding: 0.7rem 2rem;
}

.card-content {
  width: 100%;
  display: flex;
  padding: 0.7rem 2rem;
  flex-direction: column;
}

.card-section {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 0.5rem;
  h4,
  p {
    margin: 0;
    text-transform: capitalize;
  }

  p {
    &::before {
      content: '$';
    }
  }
}

// EDITING MODE STYLING

.editing-input {
  background-color: #00ecbc69;
  width: 4rem;
  border: 0.5px solid #00ecbc;
  text-align: right;
  padding: 0 0.3rem;
  border-radius: 11px;
  &:focus {
    outline: none;
  }
}
