.warning {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0.5rem;
  color: white;
  background: #eb3349; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #f45c43, #eb3349); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #f45c43,
    #eb3349
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  h3 {
    margin: 0;
  }
  svg {
    cursor: pointer;
  }
}

.hide {
  display: none;
}
