.navbar {
  width: 100%;
  padding: 1rem 0;
  background: rgb(0, 198, 255);
  background: transparent;
  position: relative;
  z-index: 10;
}

.navbar-logo-container,
.navbar-button-container {
  display: flex;
  align-items: center;
}

.navbar-button-container {
  justify-content: flex-end;
}

.navbar-logo-center {
  justify-content: center !important;
}

.navbar-logo {
  height: 2rem;
}

.navbar-login-button {
  font-size: 0.8rem;
  margin-right: 1rem;
  color: $white-color;
}
