.card-container {
  display: flex;
}

.card-wrapper {
  min-width: 260px;
  margin-right: 0.8rem;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
}

.card {
  max-width: 260px;
  background-color: $white-color;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  position: relative;
  white-space: normal;
  align-items: center;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.card-header {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0.7rem 2rem;
  border-bottom: 1px solid #ececec;
  h3 {
    margin: 0;
    text-transform: capitalize;
  }
}

.card-footer {
  padding: 0.7rem 2rem;
}

.card-content {
  width: 100%;
  display: flex;
  padding: 0.7rem 2rem;
  flex-direction: column;
}

.card-section {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 0.5rem;
  h4,
  p {
    margin: 0;
    text-transform: capitalize;
  }

  p {
    &::before {
      content: '$';
    }
  }
  input {
    text-align: right;
    border: none;
    border-bottom: 1px solid red;
    width: 50%;
    &:focus {
      border-bottom: 1px solid red;
      outline: none;
    }
  }
}
// EDITING MODE STYLING

.editing-input {
  background-color: #00ecbc69;
  width: 4rem;
  border: 0.5px solid #00ecbc;
  text-align: right;
  padding: 0 0.3rem;
  border-radius: 11px;
  &:focus {
    outline: none;
  }
}
