.item-section {
  width: 100%;
  padding: 1rem 0.7rem;
  max-height: 250px;
  overflow-x: hidden;
  overflow-y: auto;
}

.item-heading {
  text-align: center;
  padding-top: 1rem;
}

.item {
  background-color: greenyellow;
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
  padding: 0.5rem 1rem;
  align-items: center;
  border-radius: 10px;
  color: $white-color;
  background-color: $dark-color;
  position: relative;
  min-height: 43px;
}

.add-item {
  justify-content: center;
  background-color: white;
  color: $dark-color;
  transition: all 0.4s ease;
  cursor: pointer;
  &:hover {
    background-color: #00ecbc;
  }
}

.item-right-side {
  display: flex;
  align-items: center;
}

.delete-item {
  height: 1.3rem !important;
  width: 1.3rem !important;
  background-color: #008cff;
  padding: 0.2rem;
  position: absolute;
  right: -7px;
  top: -6px;
  border-radius: 50%;
  cursor: pointer;
}
