.forms-page {
  background: $white-color;

  min-height: 100%;
  margin-top: -78px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  position: relative;

  svg {
    position: absolute;
    bottom: 0;
    fill: #00192f;
  }

  h4 {
    text-align: center;
  }
}

.bubble {
  height: 80%;
  width: 100%;
  position: absolute;
  top: 0;
  background-color: $white-color;
}

//REGISTER AND LOGIN PAGE COMMON STYLES

.form-container {
  height: 100%;
}

.form {
  position: relative;
  background-color: transparent;
  padding: 4rem 3rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;

  input {
    width: 100%;
    padding: 0.8rem;
    margin: 0.5rem 0;
    background-color: #f5f5f5;
    border-radius: 100px;
    color: $dark-color;
    border: none;
    &:focus {
      outline: none;
      border: solid 1px #00192f54;
    }
  }

  button {
    margin-top: 1rem;
  }
}

.form-errors {
  text-align: center;
  color: red;
  font-size: 0.8rem;
  p {
    margin: 0;
  }
}
