@include media-breakpoint-up(sm) {
  .navbar {
    background-color: red;
  }
}
@include media-breakpoint-up(md) {
  .navbar {
    background-color: green;
  }
}
@include media-breakpoint-up(lg) {
  .navbar {
    background-color: blue;
  }
}

@include media-breakpoint-up(xl) {
  .navbar {
    background-color: pink;
  }

  .forms-page {
    margin-top: -80px;
  }
}
