//COLORS
$main-color: #0072ff;
$gradient-color: linear-gradient(-221deg, #008cff 0%, #00ecbc 100%);
$white-color: #fff;
$dark-color: #00192f;

//FONTS
@import url('https://fonts.googleapis.com/css?family=Alatsi&display=swap');
@import url('https://fonts.googleapis.com/css?family=Red+Hat+Display:400,700&display=swap');

//MIXINS
@import '../../node_modules/bootstrap/scss/bootstrap-reboot.scss';
@import '../../node_modules/bootstrap/scss/bootstrap-grid';
@import '../../node_modules/bootstrap/scss/mixins/breakpoints';

//COMPONENTS
@import './elements';
@import '../components/layout/Navbar/navbar';

//PAGES
@import '../pages/Home/homepage';
@import './formpages';

//MEDIA QUERIES
@import './responsive';
