.total-card {
  padding: 2rem 0rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #00000026;
  width: 100%;
  border-radius: 15px;
  margin-bottom: 2rem;
}
