.home-page {
  margin-top: -67px;
  background: $gradient-color;
}

.homepage-about {
  text-align: center;
  color: $white-color;
  margin-bottom: 1rem;
  h1 {
    font-size: 2.1rem;
    line-height: 2.2rem;
    font-weight: bold;
  }
  p {
    font-size: 1.1rem;
  }
}

.homepage-getstarted-button {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.homepage-login-button {
  margin-top: 0.7rem;
  text-align: center;
  a {
    color: $white;
  }
}
