.home-page {
  height: 100%;
  margin-top: -78px;
  background: $gradient-color;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.homepage-about {
  text-align: center;
  color: $white-color;

  h1 {
    font-size: 2.1rem;
    line-height: 2.2rem;
    font-weight: bold;
  }
  p {
    font-size: 1.1rem;
  }
}

.homepage-getstarted-button {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.homepage-login-button {
  margin-top: 1rem;
  text-align: center;
  color: $white-color;

  .question {
    font-size: 0.9rem;
    a {
      color: $dark-color;
    }
  }
}
