.navbar {
  width: 100%;
  background: transparent;
  position: relative;
  top: 0;
  z-index: 10;
  height: 78px;
  max-height: 78px;
  min-height: 78px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-white {
  background-color: $white-color !important;
}

.navbar-logo-container,
.navbar-button-container {
  display: flex;
  align-items: center;
}

.navbar-button-container {
  justify-content: flex-end;
}

.navbar-logo-center {
  justify-content: center !important;
}

.navbar-logo {
  height: 2rem;
}

.btn-nav {
  color: $white-color;
  transition: 0.5s;
  &:hover {
    color: $dark-color;
  }
}
